<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;600&family=Dancing+Script:wght@400..700&family=Kanit:ital,wght@1,300&family=Montserrat&family=Noto+Sans+Sharada&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="mainContainer">
      <div class="subContainer">
        <header>
          <h1><%= title %></h1>
        </header>
        <hr />
        <div class="navigation">
          <nav>
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/about">About</a></li>
              <li><a href="/users">Questions</a></li>
              <!-- Add more navigation links as needed -->
            </ul>
          </nav>
        </div>
      </div>
      <div class="mainImageTop">
        <img src="\images\AdobeStock_287274862_Preview.jpeg" />
      </div>
      <p>
        Well-being encompasses a holistic state of optimal health, happiness,
        and fulfillment across various dimensions of life. One significant
        benefit of prioritizing well-being is its positive impact on physical
        health. Engaging in activities that promote well-being, such as regular
        exercise, nutritious eating habits, and sufficient sleep, can contribute
        to a stronger immune system, reduced risk of chronic diseases, and
        overall improved physical health. Moreover, maintaining a balanced
        well-being can enhance one's resilience to stressors, allowing
        individuals to better cope with life's challenges and adversities.
      </p>
      <hr />
      <p>
        Furthermore, fostering well-being is essential for nurturing positive
        mental health and emotional resilience. Practices like mindfulness,
        meditation, and self-reflection can promote mental clarity, emotional
        stability, and a greater sense of self-awareness. Cultivating meaningful
        relationships, pursuing personal passions, and engaging in activities
        that bring joy and fulfillment can also significantly contribute to
        mental well-being. A balanced state of well-being not only enhances
        individual happiness and life satisfaction but also fosters healthier
        relationships, increased productivity, and a greater sense of purpose
        and meaning in life. Overall, prioritizing well-being offers a multitude
        of benefits that extend beyond physical health, enriching every aspect
        of one's life.
      </p>
      <div class="mainImageTop">
        <img src="\images\AdobeStock_311664549_Preview.jpeg" />
      </div>
    </div>
  </body>
</html>
